a {
    background: #C0C0C0;
    color: #000;
    border-radius: 5%;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #A9A9A9;
    color: black;
}
